---
const { name, role, avatar, description, target } = Astro.props;
---

<article
  data-popover-target={target}
  data-popover-placement="bottom"
  class="border-4 border-primary p-4 text-center relative hover:scale-105 transition-transform w-[285px] group:"
>
  <img
    src=`${avatar}`
    alt=`${name}`
    class="w-[128px] h-[153px] absolute -top-20 left-1/2 transform -translate-x-1/2 object-cover"
  />
  <div class="pt-16 space-y-4">
    <h2 class="text-2xl text-secondary font-bold">
      {name}
    </h2>
    <h3 class="text-primary/45 text-xs">
      {role}
    </h3>
    <p class="text-primary">
      {description}
    </p>
  </div>
</article>
