---
import ServiceItemCard from "./ServiceItemCard.astro";

const services = [
  {
    imageFront: "/images/icons/CONSULTORIA.webp",
    imageBack: "/images/icons/CONSULTORIA-2.webp",
    title: "Consultoría",
    description:
      "Diseñamos una estrategia personalizada, basada en análisis profundos y su amplia experiencia, para impulsar el crecimiento y el éxito de tu negocio.",
    items: [
      "Auditoría de Marca",
      "Creación de marca personal",
      "Registro de marca",
      "Campañas publicitarias",
      "Estrategias de marca y comunicaciones",
      "Capacitaciones",
      "Endomarketing",
    ],
  },
  {
    imageFront: "/images/icons/REDES-SOCIALES.webp",
    imageBack: "/images/icons/REDES-SOCIALES-2.webp",
    title: "Redes y Marketing Digital",
    description:
      "Desarrollamos estrategias que se alinean con tus objetivos comerciales y te ayuden a llegar a tu público objetivo de manera eficiente.",
    items: [
      "Estrategia de redes sociales",
      "Gestión de redes sociales",
      "Campañas Meta",
      "Estrategias SEO y SEM"
    ],
  },
  {
    imageFront: "/images/icons/BRANDING.webp",
    imageBack: "/images/icons/BRANDING-2.webp",
    title: "Branding",
    description:
      "Crea una identidad de marca sólida y relevante. Te ayudamos a definir tu propuesta de valor única y a desarrollar una estrategia de branding efectiva.",
    items: [
      "Creación de Identidad (Naming)",
      "Diseño de Packaging para productos",
      "Manual de identidad corporativa",
      "Rediseño de Marca",
      "Creación de tono narrativo"
    ],
  },
  {
    imageFront: "/images/icons/COPYWRITING.webp",
    imageBack: "/images/icons/COPYWRITING-2.webp",
    title: "Copywriting",
    description:
      "Genera contenido valioso que atraiga y convierta. Creamos historias persuasivas que conecten y den resultados tangibles.",
    items: ["Copywriting Blog", "Email marketing", "Redes sociales"],
  },
  {
    imageFront: "/images/icons/DISENO-GRAFICO.webp",
    imageBack: "/images/icons/DISENO-GRAFICO-2.webp",
    title: "Diseño gráfico y audiovisual",
    description:
      "Nuestro equipo le dará vida a tus ideas. Desde piezas impresas y digitales, te ayudamos a alcanzar a tu audiencia objetivo y generar un impacto duradero.",
    items: [
      "Diseño de piezas digitales",
      "Diseño de material impreso",
      "Ilustración",
      "Diseño de stands para eventos",
      "Videos corporativos y promocionales",
      "Dirección de arte en fotografía y video",
    ],
  },
  {
    imageFront: "/images/icons/DISENO-WEB.webp",
    imageBack: "/images/icons/DISENO-WEB-2.webp",
    title: "Desarrollo Web",
    description:
      "Diseñamos y desarrollamos sitios web profesionales y optimizados para brindar una experiencia excepcional a tus visitantes y convertirlos en clientes leales.",
    items: [
      "Diseño web y UI/UX",
      "Estrategias SEO y SEM",
      "Páginas web corporativa",
      "Landing pages",
      "Análisis y diseño de experiencia de usuarios",
    ],
  },
];
---

<section class="container mx-auto pt-10 p-4 sm:px-24 flex flex-col gap-8">
  <h2 class="text-center text-primary font-black text-4xl md:text-5xl">
    Servicios
  </h2>
  <ul class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    {
      services.map(({ imageFront, imageBack, title, description, items }) => (
        <ServiceItemCard
          imageFront={imageFront}
          imageBack={imageBack}
          title={title}
          description={description}
          items={items}
        />
      ))
    }
  </ul>
</section>
